[Unit]
Description=Immich PostgreSQL
After=network-online.target

[Container]
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0
ContainerName=immich-postgres
EnvironmentFile=/etc/immich/immich.env
Volume={{ immich_app_dir }}/postgres:/var/lib/postgresql/data
Network=immich.network
HealthCmd=pg_isready --dbname={{ immich_db_name }} --username={{ immich_db_user }} || exit 1
HealthInterval=30s
HealthRetries=5
HealthTimeout=5s

[Service]
Restart=always
TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
