# Database
DB_HOSTNAME=immich-postgres
DB_PORT=5432
DB_DATABASE_NAME={{ immich_db_name }}
DB_USERNAME={{ immich_db_user }}
DB_PASSWORD={{ immich_db_password }}

# These are read by the postgres container itself
POSTGRES_DB={{ immich_db_name }}
POSTGRES_USER={{ immich_db_user }}
POSTGRES_PASSWORD={{ immich_db_password }}

# Redis
REDIS_HOSTNAME=immich-redis

# Storage
UPLOAD_LOCATION={{ immich_data_dir }}

# App
IMMICH_VERSION={{ immich_version }}
SECRET_KEY={{ immich_secret_key }}
IMMICH_MACHINE_LEARNING_URL=http://immich-machine-learning:3003
